<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <%- include('includes/head_css.ejs') %>
</head>

<body background="/img/sky.jpg">

    <%- include('includes/navigation.ejs') %>

    <p style="font-size:76px; color:white;margin-left:400px">Ooops <br> MOVIE NOT FOUND</p>
    <p style="color:white;margin-left:500px">Try searching another movie</p>

    <% let x; %>
    <% if (userId==undefined) { %>
        <% x="/home"; %>
    <% }else{ %>
        <% x="/home/"+userId; %>
    <% } %>

    <form action="<%= x %>">
        <input style="border-radius:10%;background:#00FFFF;color: black;margin-left:500px;height:50px;width:150px"
            type="submit" name="" value="Go To Home">
    </form>
</body>

</html>
