<nav class="navbar  mynav shift" role="navigation" id="navbar">

  <% let x; %>
  <% if (userId==undefined) { %>
      <% x="/home"; %>
  <% }else{ %>
      <% x="/home/"+userId; %>
  <% } %>
    <a href="<%= x %>"><img src="/img/logo.jfif" alt="hii" class="img-circle img-responsive" height="125px" width="125px"></a>

    <ul class="nav navbar-nav navbar-right" id="navlist">
      <li><a  class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                    color: white;">Genre</a></li>
        <li>

            <% if (userId!= undefined ) { %>
            <% let y="/movie/search/"+userId; %>

            <form action="<%= y %>">
        <li><input name="movieName" class="form-control" type="search" placeholder="Search Movie,TV Shows and more....." aria-label="Search">
        </li>
        </form>
        <% }else{ %>
        <% let y="/movie/search/"; %>

        <form action="<%= y %>">
            <li><input name="movieName" class="form-control" type="search" placeholder="Search Movie"
                    aria-label="Search">
            </li>


        </form>
        <% } %>
        </li>

        <% if (userId!= undefined ) { %>
        <% let x="/user/profile/"+userId; %>

        <li><a href="<%= x %>" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
        <li><a href="/user/logout" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;">Log out</a></li>

        <% }else{ %>

        <li><a href="/user/login" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;">Log in</a></li>
        <li><a href="/user/register" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;">Sign up</a></li>
        <% } %>

    </ul>




</nav>
